<div mat-dialog-actions class="close">
  <button mat-button mat-dialog-close (click)="close()"><i class="bi bi-x-lg"></i></button>
</div>
<span class="popupgreenlinetop">&nbsp;</span>
<h2 mat-dialog-title>THANK YOU</h2>
<div mat-dialog-content>
  <!--<p class="mat-body-1">{{ data?.message }}</p>-->
  <p class="mat-body-1 popup-content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
  </p>
</div>
<div class="popupback-to-home-btn">
  <button (click)="nav()" name="">Back to Home</button>
</div>

